.labelFormik {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fieldFormik {
   width: 100%;
    margin-left: auto;
}

Form{
    column-gap: 5px;
    display: flex;
    flex-direction: column;
}

ErrorMessage{
    color: red;
}

